<footer [class.visible]="footerVisible" class="bg-dark custom-navbar text-white py-5"
  style="border-top: 1px solid rgba(255, 255, 255, 0.1);">
  <div class="container-fluid">
    <div class="row justify-content-evenly">
      <!-- Logo Section -->
      <div class="col-md-4 mb-4 text-center">
        <h3><i class="fas fa-book-reader me-2"></i> Easy Read</h3>
        <p>Your library for a wide range of books.</p>
      </div>

      <!-- About Us Section -->
      <div class="col-md-4 mb-4 text-center">
        <h5 class="text-uppercase mb-3">About Us</h5>
        <p><i class="fas fa-book-open me-2"></i> Borrow a wide range of books across categories.</p>
        <p><i class="fas fa-laptop me-2"></i> Access on any device, anywhere, anytime.</p>
      </div>

      <!-- Get in Touch Section -->
      <div class="col-md-4 mb-4 text-center">
        <h5 class="text-uppercase mb-3" id="contact">Contact us</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:easyread@gmail.com" class="text-white text-decoration-none"><i
                class="fas fa-envelope me-2"></i>easyread&#64;gmail.com</a></li>
          <li><a href="tel:+216 58690686" class="text-white text-decoration-none"><i class="fas fa-phone-alt me-2"></i>+216 58 690 686</a></li>
        </ul>

        <!-- Social Media Icons -->
        <div class="mt-3 social-icons">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
<hr>
    <!-- Footer Bottom Section -->
    <div class="footer-bottom text-center">
      <p>&copy; 2024 EasyRead. All rights reserved.</p>
    </div>
  </div>
</footer>
