<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-book-reader"></i> Easy Read
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#catalog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-book"></i> Catalog
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-user"></i> User
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/favorites">Favorites</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-envelope"></i> Contact
          </a>
        </li>
        <!-- Add Login and Sign Up links here -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-up" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-user-plus"></i> Sign Up
          </a>
        </li>
      </ul>
      <form class="d-flex ms-lg-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search books..." aria-label="Search" />
        <button class="btn btn-light" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- Scroll to Top Button -->
<button id="scrollToTopBtn" class="scroll-to-top-btn" (click)="scrollToTop()">
  <i class="fas fa-arrow-up"></i>
</button>

<router-outlet></router-outlet>
