.cathegorie_Filter_Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Ensures the items wrap on smaller screens */
  padding: 10px 0;
  background-color: #f4f7f9;
  border-bottom: 2px solid #ccc;
  gap: 10px;
  /* Adds spacing between items */
}

.cathegorie_Filter_items {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 25px;
  margin: 5px;
  /* Adjusted margin for spacing */
  text-align: center;
  /* Center text on smaller screens */
  white-space: nowrap;
  /* Prevent text wrapping */
}

.cathegorie_Filter_items:hover {
  background-color: #e1e5e8;
  transform: scale(1.05);
}

.cathegorie_Filter_items.active {
  background-color: #f39c12;
  color: white;
}

.cathegorie_Filter_items h4 {
  margin: 0;
}

/* Media Query for Small Screens (Mobile Devices) */
@media (max-width: 768px) {
  .cathegorie_Filter_Container {
    flex-direction: column;
    /* Stack items vertically */
    align-items: stretch;
    /* Full width for items */
    padding: 10px;
    gap: 5px;
  }

  .cathegorie_Filter_items {
    width: 90%;
    /* Make items take up most of the screen width */
    margin: 5px auto;
    /* Center items horizontally */
    font-size: 0.9rem;
    /* Adjust font size */
  }
}
.category-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.category-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 3px solid #eee;
  transition: transform 0.3s ease;
}

.category-card:hover .category-image {
  transform: scale(1.1);
}

.category-info {
  padding: 20px;
}

.category-info h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.category-info p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
  margin-top: 5px;
}

.category-info h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.btnShowAll{
  margin-top: 20px;
  margin-bottom: 20px;
}
